.background-1{
    height: 500px;
    background: #F1F3FF;
}

.gambar{
    size: 50%;
    width: 125%;
    padding: 50px;
    position: absolute;
}

.logo{
position: absolute;
width: 100px;
height: 34px;
left: 136px;
top: 25px;
background: #0D28A6;
}

.font-1{
font-family: Helvetica;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 20px;
}

.our-service{
position: static;
width: 81px;
height: 20px;
left: 0px;
top: 8px;
color: #000000;
}

.layout-1{
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 32px;
}

.whyus{
    position: static;
    width: 50px;
    height: 20px;
    left: 113px;
    top: 8px;
}

.layout2{
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 32px;
}

.testi{
    position: static;
    width: 71px;
    height: 20px;
    left: 195px;
    top: 8px;
}

.layout-3{
    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 0px 32px;
}

.faq{
    position: static;
    width: 29px;
    height: 20px;
    left: 298px;
    top: 8px;
}

.layout-4{
    flex: none;
    order: 3;
    flex-grow: 0;
    margin: 0px 32px;
}

.regis{
    position: static;
    width: 57px;
    height: 20px;
    left: 12px;
    top: 8px;
    color: white;
}

.layout-5{
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 10px;
}

.box-1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 12px;
    position: static;
    width: 81px;
    height: 36px;
    left: 359px;
    top: 0px;
    background: #5CB85F;
    border-radius: 2px;
}

.color-1{
    color:#000000
}
.box-2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 12px;
    position: absolute;
    width: 140px;
    height: 36px;
    top: 290px;
    background: #5CB85F;
    border-radius: 2px;
}

.color{
    color: #FFFFFF;
}
.layout-6{
    flex: none;
    order: 4;
    flex-grow: 0;
    margin: 0px 32px;
}

.page-1-1{
    position: absolute;
    width: 568px;
    height: 108px;
    top: 100px;
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 150%;
}

.page-1-2{
    position: absolute;
    width: 468px;
    height: 60px;
    top: 210px;
    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
}

.background-2{
    height: 500px;
    background: white;
    padding: 50px;
}

.gambar1{
    left: 99px;
    padding-bottom: 10%;
}

.font-6{
    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
}

.round-1{
    width: 20px;
    height: 20px;
    left: 0px;
    top: 0px;
    background: #CFD4ED;
    text-align: center;
}

.text-1{
    position: static;
    height: 72px;
    left: 0%;
    right: 0%;
    top: 0px;
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 24px 0px;
}

.text-2{
    position: static;
    width: 468px;
    height: 60px;
    left: 0px;
    top: 0px;
    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 16px 0px;
}

.whyus-1{
    position: absolute;
    height: 36px;
    left: 9.44%;
    right: 58.06%;
    top: 1132px;
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
}

.whyus-2{
    position: absolute;
    width: 468px;
    height: 20px;
    left: 136px;
    top: 1184px;
    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
}

.testi-1{
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
}

.testi-2{
    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
}

.page-2{
    background: #0D28A6;
    border-radius: 13px;
    width: 60%;
}

.round1{
    background: #92D094;
    margin-bottom: 100%;
    width: 130px;
    height: 130px;
}
.text-5-1{
    position: absolute;
    width: 613px;
    height: 54px;
    left: 406px;
    top: 2142px;
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;
}

.text-5-2{
    position: absolute;
    width: 468px;
    height: 40px;
    left: 478px;
    top: 2212px;
    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
}

.price {
    padding-top:35px;
    padding-bottom:45px;
}

.price .card {
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 13px;
}

.price .card .card-header {
    padding: 25px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 13px;
}

.price .card .card-price {
    color: #fff;
    font-weight: bold;
    text-align: center;
    padding: 20px;
    font-size: 35px;
}

.price .card .card-body {
    text-align: center;
}

.price .card .card-body ul {
    list-style-type: none;
    padding-left:0;
    margin-bottom: 25px;
}
.wd-20{
    width: 20%;
}

.h-200{
    height: 200px;
}

.vek1{
    padding: 5%;
}

.vek-text-1{
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    position: static;
    margin-left: 20px;
}

.vek-text-2{
    margin-left: 20px;
}

.mg-b-35 {
    margin-bottom: 35px;
}

.page3-1{
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    width: 568px;
}

.page3-2{
    width: 468px;
    height: 20px;
    left: 136px;
    top: 1184px;
    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
}

.page3-3{
    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
}
.page5{
    width: 1250px;
    height: 326px;
    background: #0D28A6;
    border-radius: 13px;
}

.box-5{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 12px;
    position: absolute;
    width: 140px;
    height: 36px;
    left: 650px;
    top: 2304px;
    background: #5CB85F;
    border-radius: 2px;
    color:white
}

.akhir{
    width: 100px;
    height: 34px;
    left: 873px;
    top: 36px;
    background: #0D28A6;
}

.page-6-font{
    height: 36px;
    left: 9.44%;
    right: 65%;
    top: 2508px;
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
}

.page-6-font2{
    width: 368px;
    height: 20px;
    left: 136px;
    top: 2560px;
    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
}

.font{
    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
}

.tool1{
    left: 25%;
    right: 25%;
    top: 37.5%;
    bottom: 37.5%;
}

.bg-testi{
    width: 619px;
    height: 270px;
    left: 410px;
    top: 1652px;
    background: #F1F3FF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
}

.text-5{
    position: static;
    width: 415px;
    height: 80px;
    left: 0px;
    top: 24px;
    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 8px 0px;
}

.photo{
    width: 80px;
    height: 80px;
    left: 456px;
    top: 1747px;
    padding: 8px;
    padding:5%;
    margin-bottom: 40%;
    margin-top: 40%;
}

.bottom1{
    padding:5%;
    margin-bottom: 5%;
    margin-top: 5%;
}

.rating{
	top:30%;
	left: 100%;
	transform: translate(-50%, -50%) rotateY(180deg);
	display: flex;
    margin-right: 45%;
}
.rating input{
	display: none;
}
.rating label{
	display: block;
	cursor: pointer;
	width: 30px;
}
.rating label:before{
	content:'\f005';
	font-family: fontAwesome;
	position: relative;
	display: block;
	font-size: 20px;
    color: #F9CC00;;
}

.font6-1{
    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
}

.font6-2{
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
}